@import './variables.scss';

.setting-bar {
    height: $toolbarheight;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px #ccc;
    top: $toolbarheight;
    padding-left: 10px;

    &__width-number {
        margin-left: 10px;
        margin-right: 10px;
        width: 45px;
        height: 20px;
        text-align: center;
    }
}