@import './variables.scss';

.tool-bar {
    height: $toolbarheight;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px #ccc;
    z-index: 99;

    &__btn {
        width: 25px;
        height: 25px;
        border: none;
        outline: none;
        cursor: pointer;
        background-size: cover;
        margin-left: 10px;
    }
}

.brush {
    background: url('../assets/images/brush.png') no-repeat center center;
}
.rectangle {
    background: url('../assets/images/rect.png') no-repeat center center;
}
.circle {
    background: url('../assets/images/circle.png') no-repeat center center;
}
.eraser {
    background: url('../assets/images/eraser.png') no-repeat center center;
}
.line {
    background: url('../assets/images/line.png') no-repeat center center;
}
.clear {
    background: url('../assets/images/clear.png') no-repeat center center;
}
.color {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    padding: 0;
}
.undo {
    background: url('../assets/images/undo.png') no-repeat center center;
    margin-left: auto;
}
.redo {
    background: url('../assets/images/redo.png') no-repeat center center;
}
.save {
    background: url('../assets/images/save.png') no-repeat center center;
    margin-right: 10px;
}